.outer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
}
.column-container{
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
.left{
  background: var(--white);
  width: 40%;
  height: 100%;
}
.right{
    background: var(--purple);
    width: 60%;
    height: 100%;
}
.left-box{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 20px;
}
.right-box{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 5px 25px 5px 0px;
}
.login-heading{
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    color: var(--white);
}
.forgotPass-link{
    color: var(--white);
}
.login-btn{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-bottom: 15px;
}
.login-container input {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.login-container input:focus {
    border: none;
    background: white;
    color: grey;
}
.login-form{
    padding: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}