@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #FFFFFF;
  --purple: #7152F3;
  --red: #F91515;
  --lightPurple: #EAE5FE;  /*#F4F1FD*/
  --lightRed: #FBE9E9;
  --grey: #E2E2E2;
  --darkGrey: #A6A1A1; /*#A2A1A8*/
}


.red-btn{
  background-color: var(--red);
  color: var(--white);
}

@layer base {
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Roboto.woff2) format('woff2');
    }
  }